﻿@using WEB_253502_POBORTSEVA.Domain.Models
﻿@using WEB_253502_POBORTSEVA.Domain.Entities

@model ListModel<Product>

@{
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<div id ="partial-content">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-4">
                <div class="card h-100 d-flex flex-column" style="width: 20rem;">
                    <img src="@item.ImagePath" class="card-img-top" alt="@item.Name">
                    <div class="card-body d-flex flex-column flex-grow-1">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><strong>Цена:</strong> $@item.Price</p>
                        <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" asp-route-returnUrl="@returnUrl" class="btn btn-primary mt-auto">Добавить в корзину</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav>
        <Pager current-page="@Model.CurrentPage" total-pages="@Model.TotalPages" is-admin="false"></Pager>
    </nav>
</div>
